# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Python
__pycache__/
*.pyc
.venv/

# Environment variables
.env

# IDE files
.vscode/

# Build outputs
build/
dist/

# Logs
*.log
npm-debug.log*